<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Категория - Вет-аптека "Доктор Лапка"</title>
</head>
<body>

    <div class="about-category">
        <p class="about-category__text">
            Наша задача диагностировать, лечить и контролировать дерматологические проблемы, исходя из индивидуальных потребностей Вашего животного, учитывая ваши интересы. 
            <br>Многие из кожных заболеваний проявляются в виде аллергий, зуда, ухудшением качества шерсти, выпадением волос или проблемами с ушами. Большинство дерматологических проблем – пожизненные. Правильная диагностика, лечение, и консультация о дальнейшей заботе в домашних условиях, обеспечит должным уровнем комфорта жизнь Вашего питомца и Вас. В клинике принимает  ветеринарный врач-дерматолог. 
            <br>По всем вопросам и для получения более детальной информации, пожалуйста, свяжитесь с нами и запишите Вашего питомца на прием! 
        </p>
    </div>

    <h3 class="subcategory-tittle">Для Собак</h3>
    <table  class="products-table">
        <tr>
            <!-- use n-th child in css-->
            <th>Название</th>
            <th>Стоимость</th> 
        </tr>
        <tr>
            <td>Препарат 1</td>
            <td>100 грн.</td> 
        </tr>
        <tr>
            <td>Препарат 2</td>
            <td>100 грн.</td>
        </tr>
    </table>

    <h3 class="subcategory-tittle">Для Собак</h3>

</body>
</html>